        <tr id="{{ cookiecutter.slug }}" data-date-added="{{ cookiecutter.date_added }}" data-date-opened="{{ cookiecutter.date_opened }}" data-date-opened-source="{{ cookiecutter.date_opened_source }}">
          <td>{{ cookiecutter.name }} ({{ cookiecutter.neighborhood }})</td>
          <td>{{ cookiecutter.saturday_start }}–{{ cookiecutter.saturday_end }}</td>
          <td>{{ cookiecutter.sunday_start }}–{{ cookiecutter.sunday_end }}</td>
          <td><a href="{{ cookiecutter.menu_url }}" target="_blank" rel="noopener">menu</a></td>
          <td>
            <a href="{{ cookiecutter.instagram_account }}" target="_blank" rel="noopener">📷</a>
            <a href="{{ cookiecutter.instagram_location }}" target="_blank" rel="noopener">📍</a>
            <a href="{{ cookiecutter.instagram_hashtag }}" target="_blank" rel="noopener">#️⃣</a>
          </td>
          <td>{{ cookiecutter.feature_artisanal_toast }}</td>
          <td>{{ cookiecutter.notes }}</td>
        </tr>
